Hi <%=email%>
        <h1>password reset for </h1>
        <form action="" method="post">
            <div>
                <label for="email">Confirm Password</label>
                <input type="text" name="email" id="email" value=<%=email%> readonly>
            </div>
            <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div>
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" name="confirmpassword" id="confirmpassword">
        </div>
        
        <input type="submit" value="passwordReset">
        </form>
